<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" />
        <title>Shopangela</title>
    </head>
    <body>
        <div class="grid-container">
            <header>
                <div>
                    <a class="brand" href="index.html">Shopangela</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <main>
                <div>
                    <div>
                        <div>
                            <a href="product.html">
                                <img />
                            </a>
                            <div>
                                <a>
                                    <h2>Storet Leather Dress</h2>
                                </a>
                                <div>
                                    <span><i class="fa fa-start"></i></span>
                                    <span><i class="fa fa-start"></i></span>
                                    <span><i class="fa fa-start"></i></span>
                                    <span><i class="fa fa-start"></i></span>
                                    <span><i class="fa fa-start"></i></span>
                                </div>
                                <div class="price">$100</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">All right reserved</footer>
        </div>
    </body>
</html>